.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 0 0 10px;
  padding: 0;
  @apply space-x-2 md:space-y-0 space-y-2;
}

.react-tabs__tab {
  display: inline-block;
  border-bottom: none;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  @apply text-lg text-gray-500 font-bold hover:bg-gray-300 hover:text-gray-900 rounded select-none;
  font-family: 'Kodchasan', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.react-tabs__tab--selected {
  @apply rounded bg-jaffa-500 text-white;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}
.react-tabs__tab:focus {
  outline: none;
}

/*

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}
*/

.react-tabs__tab-panel {
  @apply py-4 border-t font-light;
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
